body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  background-color: #fff0f5;
  margin: 0;
}

#nav-container {
  background-color: #fff0f5;
  color: hsl(162, 90%, 26%);
  font-weight: 500;
  gap: 20px;

  position: sticky;
  top: 0;

  box-sizing: border-box;
  padding: 0 15px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 36px;
  font-weight: 700;

  text-align: left;

  text-transform: uppercase;
}

.btn--test {
  margin-left: auto;
}

.btn--test:link,
.btn--user:link,
.btn--test:visited,
.btn--user:visited {
  background-color: #88d4bd;
  /* pink4 */

  width: 15%;
  max-width: 100px;
  height: 45px;
  border-radius: 35px;

  font-size: 18px;
  color: #077f5b;
  font-weight: 700;

  text-decoration: none;
  text-align: center;
  line-height: 45px;

  align-self: center;
  justify-content: center;
}

.btn--test,
.btn--user {
  transition: background-color 0.3s ease;
}

.btn--test:hover,
.btn--test:active,
.btn--user:hover,
.btn--user:active {
  box-shadow: 0 5px 10px rgb(12, 133, 153, 0.5);
  transition: box-shadow 0.3s ease;
}
